@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  padding: 0%;
  margin: 0%;
  font-family: "Poppins";
}

body {
  overflow: hidden;
  height: 100vh;
  background: #eef1ff;
  background-repeat: no-repeat;
}

.heading {
  text-align: center;
}

.main {
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

#text {
  color: #fff;
  width: 30rem;
  padding: 1rem;
  border-radius: 5px;
  background-color: #111111;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.445);
}

#text::placeholder {
  color: rgba(255, 255, 255, 0.53);
}

.btns {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.btn {
  padding: 0.8rem 2.2rem;
  border-radius: 30px;
  font-weight: 600;
  font-size: 1.2rem;
  border: 2px solid transparent;
  background-color: #b1b2ff;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
  transition: all 0.2s ease-in-out;
}

.btn:hover {
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
  border: 2px solid rgba(255, 255, 255, 0.3);
  background-color: rgba(255, 255, 255, 0.3);
}

.btn:active {
  transform: scale(0.8);
}

.result {
  width: 15rem;
  position: absolute;
  top: -15%;
  left: auto;
  background-color: #90e990;
  border-radius: 5px;
  padding: 1.2rem;
  transition: all 1s ease-in-out;
}

/* .forword {
  animation: slide 1s linear;
}

.reverse {
  animation: slide 1s reverse linear;
}
@keyframes slide {
  0% {
    top: -15%;
    opacity: 0;
  }
  100% {
    top: 15%;
    opacity: 1;
  }
} */

.cancel {
  color: #111111;
  position: absolute;
  top: 10%;
  right: 7%;
  transition: all 0.2s ease-in-out;
}

.cancel:hover {
  transform: scale(1.4);
}

.cancel:active {
  transform: scale(0.8);
}
